{% extends '_layouts/cp' %}

{% set selectedSubnavItem = 'events' %}
{% set fullPageForm = true %}

{% block header %}
    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
        {{ block('contextMenu') }}
    </div>
    <div class="flex">
        <div class="btngroup">
            {% if shareUrl is defined %}
                <a href="{{ shareUrl }}" class="btn sharebtn"
                   target="_blank">{{ 'Share'|t('app') }}</a>
            {% endif %}
        </div>

        {{ block('actionButton') }}
    </div>
{% endblock %}

{% block contextMenu %}
{% endblock %}

{% block actionButton %}
    <div id="save-btn-container" class="btngroup submit">
        <input type="submit" class="btn submit" value="{{ 'Save' | t('app', { type: element.displayName() }) }}">
    </div>
{% endblock %}

{% block content %}
    <div class="editEvent">
        {{ actionInput('eventsky/events/save') }}
        {{ redirectInput('eventsky/events') }}
        {{ csrfInput() }}

        {% if event.id %}<input type="hidden" name="eventId" value="{{ event.id }}">{% endif %}

        {% include "eventsky/events/_fields" %}
    </div>
{% endblock %}

{% block details %}
    {% include "eventsky/events/_details" %}
{% endblock %}

{% if not event.slug %}
    {% js %}
        window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');
    {% endjs %}
{% endif %}

{% block initJs %}
    window.eventTypeSwitcher = new Craft.EventTypeSwitcher();
    window.registrationToggle = new Craft.RegistrationToggle();
    window.waitlistToggle = new Craft.WaitlistToggle();
    window.ticketTypeSelector = new Craft.TicketTypeSelector();
    window.eventTicketTypeMappingRemover = new Craft.EventTicketTypeMappingRemover();
{% endblock %}

{% js block('initJs') %}
