{% extends "_layouts/cp" %}
{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% set selectedSubnavItem = 'emailNotifications' %}

{% block content %}
    {{ actionInput('eventsky/email-notifications/save') }}
    {{ redirectInput('eventsky/emailnotifications') }}

    {% if emailNotification.id %}<input type="hidden" name="emailNotificationId" value="{{ emailNotification.id }}">{% endif %}

    <div id="emailnotification-settings">
        {{ forms.textField({
            first: true,
            label: "Name",
            instructions: "What this email notification will be called in the CP.",
            id: 'name',
            name: 'name',
            value: emailNotification.name,
            errors: emailNotification.getErrors('name'),
            autofocus: true,
            maxlength: 250,
            required: true,
        }) }}

        {{ forms.textField({
            label: "Handle",
            instructions: "How you’ll refer to this email notification in the templates.",
            id: 'handle',
            name: 'handle',
            autocorrect: false,
            autocapitalize: false,
            value: emailNotification.handle,
            errors: emailNotification.getErrors('handle'),
            maxlength: 250,
            required: true,
        }) }}

        {{ forms.textField({
            label: "Subject",
            instructions: "What your email is concerning.",
            id: 'subject',
            name: 'subject',
            autocorrect: false,
            autocapitalize: false,
            value: emailNotification.subject,
            errors: emailNotification.getErrors('subject'),
            maxlength: 250,
            required: true,
        }) }}

        {{ forms.textField({
            label: "From Email",
            instructions: "The email that will appear as sender of the email.",
            id: 'fromEmail',
            name: 'fromEmail',
            autocorrect: false,
            autocapitalize: false,
            value: emailNotification.fromEmail,
            errors: emailNotification.getErrors('fromEmail'),
            maxlength: 250,
            required: true,
        }) }}

        {{ forms.textField({
            label: "Reply-to Email",
            instructions: "The email where responses should be sent to.",
            id: 'replyToEmail',
            name: 'replyToEmail',
            autocorrect: false,
            autocapitalize: false,
            value: emailNotification.replyToEmail,
            errors: emailNotification.getErrors('replyToEmail'),
            maxlength: 250,
            required: true,
        }) }}

        {{ forms.textareaField({
            label: "Email Content (no HTML)",
            instructions: "The message you want to write in your email body.\nEmails for the event admins will contain a {{ ticket }} and an {{ event }} variable.\nEmails goint to the user directly contain an array {{ tickets }} with all tickets the user currently registered for.",
            id: 'textContent',
            name: 'textContent',
            autocorrect: false,
            autocapitalize: false,
            value: emailNotification.textContent,
            errors: emailNotification.getErrors('textContent'),
            maxlength: 250,
            required: true,
            rows: 10,
        }) }}
    </div>
{% endblock %}
