{% import "_includes/forms" as forms %}

<div id="settings" class="meta">
    {% block settings %}
        {{ forms.textField({
            label: 'translate.ticket.fields.details.slug' | t('eventsky'),
            id: 'slug',
            name: 'slug',
            value: ticket.slug,
            placeholder: 'Enter slug' | t('eventsky'),
            errors: ticket.getErrors('slug') | merge(ticket.getErrors('uri'))
        }) }}

        {{ forms.selectField({
            label: 'translate.ticket.fields.details.tickettype' | t('eventsky'),
            id: 'typeId',
            name: 'typeId',
            value: ticketType.id,
            options: ticketTypeOptions
        }) }}

        {# TODO: replace forms.textField with forms.selectField for statuses #}
        {{ forms.textField({
            label: "Status"|t('app'),
            instructions: "Status of ticket (switch with status dropdown)"|t('app'),
            id: 'status',
            name: 'status',
            class: 'code',
            autocorrect: false,
            autocapitalize: false,
            value: ticket.status,
            errors: ticket.getErrors('status'),
            maxlength: 250,
            required: true
        }) }}
    {% endblock %}
</div>

<div class="meta read-only">
    <div class="data">
        <h5 class="heading">{{ "Created at"|t('app') }}</h5>
        <div class="value">{{ element.dateCreated | datetime('short') }}</div>
    </div>
    <div class="data">
        <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
        <div class="value">{{ element.dateUpdated | datetime('short') }}</div>
    </div>
</div>

