{% import "_includes/forms" as forms %}

<div id="settings" class="meta">
    {% block settings %}
        {{ forms.selectField({
            label: 'translate.ticket.fields.details.tickettype' | t('eventsky'),
            id: 'typeId',
            name: 'typeId',
            value: ticketType.id,
            options: ticketTypeOptions
        }) }}

        {{ forms.textField({
            label: 'translate.ticket.fields.details.slug' | t('eventsky'),
            id: 'slug',
            name: 'slug',
            value: ticket.slug,
            placeholder: 'Enter slug' | t('eventsky'),
            errors: ticket.getErrors('slug') | merge(ticket.getErrors('uri'))
        }) }}

        {# TODO: replace forms.textField with forms.selectField for events #}
        {{ forms.textField({
            label: 'translate.ticket.fields.details.event' | t('eventsky'),
            instructions: "Event id (switch with event dropdown)."|t('app'),
            id: 'eventId',
            name: 'eventId',
            value: ticket.eventId,
            errors: ticket.getErrors('eventId'),
            required: true
        }) }}

        {{ forms.dateTimeField({
            label: 'Post Date' | t('eventsky'),
            id: 'postDate',
            name: 'postDate',
            value: ticket.postDate,
            errors: ticket.getErrors('postDate')
        }) }}

        {{ forms.dateTimeField({
            label: 'Expiry Date' | t('eventsky'),
            id: 'expiryDate',
            name: 'expiryDate',
            value: ticket.expiryDate,
            errors: ticket.getErrors('expiryDate')
        }) }}

        {{ forms.lightswitchField({
            label: isMultiSiteElement ? 'Enabled Globally' | t('app') : 'Enabled' | t('app'),
            id: 'enabled',
            name: 'enabled',
            on: element.enabled,
            toggle: 'enabledForSite-field'
        }) }}
    {% endblock %}
</div>

<div class="meta read-only">
    <div class="data">
        <h5 class="heading">{{ "Created at"|t('app') }}</h5>
        <div class="value">{{ element.dateCreated | datetime('short') }}</div>
    </div>
    <div class="data">
        <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
        <div class="value">{{ element.dateUpdated | datetime('short') }}</div>
    </div>
</div>

