{% extends '_layouts/cp' %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'tickets' %}
{% set fullPageForm = true %}

{% block header %}
    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
        {{ block('contextMenu') }}
    </div>
    <div class="flex">
        <div class="btngroup">
            {% if shareUrl is defined %}
                <a href="{{ shareUrl }}" class="btn sharebtn"
                   target="_blank">{{ 'Share'|t('app') }}</a>
            {% endif %}
        </div>

        {{ block('actionButton') }}
    </div>
{% endblock %}

{% block contextMenu %}
    {#    {% include "_includes/revisionmenu" %}#}
{% endblock %}

{% block actionButton %}
    <div id="save-btn-container" class="btngroup submit">
        <input type="submit" class="btn submit" value="{{ 'Save' | t('app', { type: element.displayName() }) }}">
    </div>
{% endblock %}

{#{% block main %}#}
{#        {{ actionInput(saveSourceAction) }}#}
{#        {{ redirectInput(redirectUrl) }}#}

{#        {% if craft.app.isMultiSite %}#}
{#            {{ hiddenInput('siteId', element.siteId) }}#}
{#        {% endif %}#}

{#    {{ parent() }}#}
{#{% endblock %}#}

{% block content %}
    {{ actionInput('eventsky/tickets/save') }}
    {{ redirectInput('eventsky/tickets') }}
    {{ csrfInput() }}

    {% if ticket.id %}<input type="hidden" name="ticketId" value="{{ ticket.id }}">{% endif %}

    {#    {% if craft.app.getIsMultiSite() %}#}
    {#        <input type="hidden" name="siteId" value="{{ product.siteId }}">#}
    {#    {% endif %}#}

    <div id="fields">
        {{ forms.textField({
            first: true,
            label: "Name"|t('app'),
            instructions: "What this ticket will be called in the CP."|t('app'),
            id: 'name',
            name: 'name',
            value: ticket.name,
            errors: ticket.getErrors('name'),
            autofocus: true,
            required: true,
        }) }}

        {{ forms.textField({
            label: "Handle"|t('app'),
            instructions: "How you’ll refer to this ticket in the templates."|t('app'),
            id: 'handle',
            name: 'handle',
            class: 'code',
            autocorrect: false,
            autocapitalize: false,
            value: ticket.handle,
            errors: ticket.getErrors('handle'),
            required: true
        }) }}

        {{ forms.dateTimeField({
            label: 'Start Date' | t('eventsky'),
            id: 'startDate',
            name: 'startDate',
            value: ticket.startDate,
            errors: ticket.getErrors('startDate')
        }) }}

        {{ forms.dateTimeField({
            label: 'End Date' | t('eventsky'),
            id: 'endDate',
            name: 'endDate',
            value: ticket.endDate,
            errors: ticket.getErrors('endDate')
        }) }}
    </div>
{% endblock %}

{% block details %}
    {% include "eventsky/tickets/_details" %}
{% endblock %}

{% if not ticket.slug %}
    {% js %}
        window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');
    {% endjs %}
{% endif %}
