{% import "_includes/forms" as forms %}

{% set ticketType = ticketTypeMapping.getTicketType() ?? null %}
{% set ticketTypeName = ticketType.name ?? null %}
{% set ticketTypeHandle = ticketType.handle ?? null %}

<div class="matrixblock" style="margin-left: 0; width: 100%; box-sizing: border-box;"> {# data-id="{{ mappingId }}" #}

    <input type="hidden" name="{{ 'availableTicketTypes[' ~ ticketTypeHandle ~ ']' }}" value="">
    <input type="hidden" name="{{ 'availableTicketTypes[' ~ ticketTypeHandle ~ '][typeId]' }}" value="{{ ticketType.id }}">

    <div class="titlebar">
        <div class="blocktype{% if ticketTypeMapping.hasErrors() %} error{% endif %}">
            {{ ticketTypeName }}
{#                            {% if block.hasErrors() %}<span data-icon="alert"></span>{% endif %}#}
        </div>
        <div class="preview"></div>
    </div>
    <div class="actions">
        <a class="settings icon menubtn" title="{{ 'Actions'|t('app') }}" role="button"></a>
        <div class="menu">
                <ul class="padded">
                    <li><a class="error" data-icon="remove" data-action="delete">{{ "Delete"|t('app') }}</a></li>
                </ul>
        </div>
    </div>
    <div class="fields">
        <div class="flexContainer">
            {{ forms.dateTimeField({
                label: 'translate.events.fields.ticketType.registrationStart' | t('eventsky'),
                id: 'availableTicketTypes_' ~ ticketTypeHandle ~ '_registrationStart',
                name: 'availableTicketTypes[' ~ ticketTypeHandle ~ '][registrationStart]',
                value: ticketTypeMapping.registrationStartDate,
            }) }}

            {{ forms.dateTimeField({
                label: 'translate.events.fields.ticketType.registrationEnd' | t('eventsky'),
                id: 'availableTicketTypes_' ~ ticketTypeHandle ~ '_registrationEnd',
                name: 'availableTicketTypes[' ~ ticketTypeHandle ~ '][registrationEnd]',
                value: ticketTypeMapping.registrationEndDate,
            }) }}
{#                        errors: event.getErrors('startDate')#}
        </div>

        {{ forms.textField({
            label: 'translate.events.fields.ticketType.limit' | t('eventsky'),
            id: 'availableTicketTypes_' ~ ticketTypeHandle ~ '_limit',
            name: 'availableTicketTypes[' ~ ticketTypeHandle ~ '][limit]',
            value: ticketTypeMapping.limit,
        }) }}
    </div>
</div>
