{% extends "_layouts/cp" %}

{% set selectedSubnavItem = 'ticketTypes' %}
{% set title = "translate.ticketTypes.title" | t('eventsky') %}

{% block actionButton %}
    <a href="{{ url('eventsky/tickettype/new') }}" class="btn submit add icon">{{ "translate.ticketTypes.new" | t('eventsky') }}</a>
{% endblock %}

{% block content %}
    <div id="noTicketTypes"{% if ticketTypes %} class="hidden"{% endif %}>
        <p>{{ "No ticket types exist yet." | t('eventsky') }}</p>
    </div>

    {% if ticketTypes | length %}
        <table id="ticketTypes" class="data fullwidth collapsible">
            <thead>
            <th scope="col">{{ "translate.ticketTypes.name" | t('eventsky') }}</th>
            <th scope="col">{{ "translate.ticketTypes.handle" | t('eventsky') }}</th>
            <td class="thin"></td>
            </thead>
            <tbody>
            {% for ticketType in ticketTypes %}
                <tr data-id="{{ ticketType.id }}" data-name="{{ ticketType.name | t('site') }}">
                    <th scope="row" data-title="{{ 'translate.ticketTypes.name' | t('eventsky') }}"><a href="{{ ticketType.getCpEditUrl() }}">{{ ticketType.name | t('site') }}</a></th>
                    <td data-title="{{ 'translate.ticketTypes.handle' | t('eventsky') }}"><code>{{ ticketType.handle }}</code></td>
                    <td class="thin"><a class="delete icon" title="{{ 'translate.ticketTypes.delete' | t('eventsky') }}" role="button"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#ticketTypes',
    noItemsSelector: '#noTicketTypes',
    deleteAction: 'sections/delete-section',
    confirmDeleteMessage: '{{ "translate.ticketTypes.deleteMessage" | t('eventsky') }}',
    onDeleteItem: function()
    {
    // Hide the Entries tab if that was the last one
    if (adminTable.totalItems == 0)
    {
    $('#nav-entries').remove();
    }
    }
    });
{% endjs %}
